#barchart3 {
    margin-left: 50px;
    float: left;
}
.chart {
    margin-left: 50px;
    float: left;
}
.chart rect {
  stroke: white;
  fill: SteelBlue;
}

.chart {
  font-size: 0.5em;
  color: white;
}
